jinja2
networkx
-e git://github.com/PacificBiosciences/pbcore.git@master#egg=pbcore
-e git://github.com/PacificBiosciences/pbcommand.git#egg=pbcommand
pydot
jsonschema
xmlbuilder
requests
# this doesn't play well with the 2.3 SMRTAnalysis build
#semantic_version
fabric>=1.9.1
sphinx-bootstrap-theme
sphinx-argparse
