jinja2
networkx
pbcore >= 1.2.10
pbcommand >= 0.4.9
jsonschema
xmlbuilder
requests
# this doesn't play well with the 2.3 SMRTAnalysis build
#semantic_version
#sphinx-bootstrap-theme
nose # Required for pbsmrtpipe.testkit